﻿@model IONThree.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default sticky-top">
        <div class="container">
            <div class="navbar-header" style="padding: 15px;"><a href="/Home">ION Three Test Project</a></div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/Home">Home</a>
                </li>
                @if (Model != null && Model.isLoggedOut)
                {
                    <li>
                        <a href="/Customer/Enter">Register</a>
                    </li>
                    <li>
                        <a href="/Customer/Login">Login</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="/Customer/Account">My Account</a>
                    </li>
                    <li>
                        <a href="/Customer/Logout">Log Out</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-md-6 col-lg-4 login-entry-area text-center">
        <h1>Welcome! </h1>
        <br /> <br />
        <p class="text-left">
            I've been working on this little project to test user creation, login, and logout functionality (along with state management and proper password handling). 
            Feel free to browse using the navbar above or the buttons below. Enjoy!
        </p> <br />
        <p>
            <strong><a href="/Customer/Enter" class="btn btn-primary stretched-link">Register Account</a></strong>
        </p>
        <p>
            <strong><a href="/Customer/Login" class="btn btn-primary stretched-link">Login</a></strong>
        </p>
    </div>
    <div class="col-md-3 col-lg-4">

    </div>
</body>
</html>
