﻿body {
    padding-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.login-entry-area {
    padding: 30px;
    background-color: antiquewhite;
    margin: 30px;
    border-color: palegoldenrod;
    border-width: 5px;
    text-align: center;
}

span > input {
    float: right;
    margin: auto;
}
form.form-group
{
    text-align: left;
    padding: 15px 25px;
}
label
{
    float: left;
    margin-left: 10px;
}

button.text-center
{
    margin: auto; 
    width: 70px; 
    display: block;
}

.nav 
{
    position: sticky;
}
