﻿@model IONThree.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Account Information</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default sticky-top">
        <div class="container">
            <div class="navbar-header" style="padding: 15px;"><a href="/Home">ION Three Test Project</a></div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/Home">Home</a>
                </li>
                @if (Model != null && Model.isLoggedOut)
                {
                    <li>
                        <a href="/Customer/Enter">Register</a>
                    </li>
                    <li class="active">
                        <a href="/Customer/Login">Login</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="/Customer/Account">My Account</a>
                    </li>
                    <li>
                        <a href="/Customer/Logout">Log Out</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-md-6 col-lg-4 login-entry-area text-center">
        <span><strong>User entered!</strong></span>
        <span>Name: @Model.CustomerName</span><br />
        <span>Email: @Model.Email</span><br />
        <span>Notes: @Model.Notes</span><br />
        <br />
        @using (Html.BeginForm("UpdateUser", "Customer", FormMethod.Post))
        {
            <div class="row"><label>Email: </label> <span> @Html.TextBoxFor(m => m.Email, new { Class = "form-control" })</span></div><br />
            <div class="row"><label>Password: </label> <span> @Html.PasswordFor(m => m.Password, new { Class = "form-control" })</span></div><br />
            <div class="row"><label>Name: </label> <span> @Html.TextBoxFor(m => m.CustomerName, new { Class = "form-control" })</span></div><br />
            <div class="row"><label>Notes: </label> <span> @Html.TextBoxFor(m => m.Notes, new { Class = "form-control" })</span></div><br />
            <button class="btn btn-primary" action="UpdateUser" formmethod="post">Update</button>
        }
        <br />
        @using (Html.BeginForm("DeleteUser", "Customer", FormMethod.Post))
        {
            <div class="row"><label>Email: </label> <span> @Html.TextBoxFor(m => m.Email, new { Class = "form-control" })</span></div> <br />
            <div class="row"><label>Password: </label> <span> @Html.PasswordFor(m => m.Password, new { Class = "form-control" })</span></div> <br />
            <button class="btn btn-danger" action="DeleteUser" formmethod="post">Delete Account</button>
        }
    </div>
    <div class="col-md-3 col-lg-4"></div>
</body>
</html>