﻿@model IONThree.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-default sticky-top">
        <div class="container">
            <div class="navbar-header" style="padding: 15px;"><a href="/Home">ION Three Test Project</a></div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/Home">Home</a>
                </li>
                @if (Model != null && Model.isLoggedOut)
                {
                    <li class="active">
                        <a href="/Customer/Enter">Register</a>
                    </li>
                    <li>
                        <a href="/Customer/Login">Login</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="/Customer/Account">My Account</a>
                    </li>
                    <li>
                        <a href="/Customer/Logout">Log Out</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div>
        <div class="col-md-3 col-lg-4"></div>
        <div class="col-md-6 col-lg-4 text-left login-entry-area container">
            <h3 class="text-center">Register</h3>
            @using (Html.BeginForm("Submit", "Customer", FormMethod.Post, new { Class = "form-group" }))
            {
                <div class="row"><label>Name: </label> <span>@Html.TextBoxFor(m => m.CustomerName, new { Class = "form-control" }) </span></div><br />
                <div class="row"> <label>Email: </label> <span>@Html.TextBoxFor(m => m.Email, new { Class = "form-control" }) </span></div><br />
                <div class="row"><label>Password: </label> <span>@Html.PasswordFor(m => m.Password, new { Class = "form-control" }) </span></div><br />
                <button class="btn btn-primary text-center" type="submit" name="submitButton" value="submit">Submit</button><br />
                <div class="alert-danger">
                    @Html.ValidationMessageFor(x => x.Email)
                    @Html.ValidationMessageFor(x => x.Password)
                    @Html.ValidationMessageFor(x => x.CustomerName)
                    @Html.ValidationMessageFor(x => x.isDuplicate)
                </div>
            }
        </div>
    <div class="col-md-3 col-lg-4"></div>
</div>
</body>
</html>
