﻿@model IONThree.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default sticky-top">
        <div class="container">
            <div class="navbar-header" style="padding: 15px;"><a href="/Home">ION Three Test Project</a></div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/Home">Home</a>
                </li>
                @if (Model != null && Model.isLoggedOut)
                {
                    <li>
                        <a href="/Customer/Enter">Register</a>
                    </li>
                    <li class="active">
                        <a href="/Customer/Login">Login</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="/Customer/Account">My Account</a>
                    </li>
                    <li>
                        <a href="/Customer/Logout">Log Out</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-md-6 col-lg-4 text-left login-entry-area container">
        <h3 class="text-center">Log In</h3>
        @using (Html.BeginForm("Attempt", "Customer", FormMethod.Post, new { Class = "form-group" }))
        {
            <div class="row"><label for="Email">Email: </label> <span> @Html.TextBoxFor(m => m.Email, new { Class = "form-control" }) </span></div> <br />
            <div class="row"><label for="Password">Password: </label> <span> @Html.PasswordFor(m => m.Password, new { Class = "form-control" }) </span></div><br />
            <button type="submit" class="btn btn-primary text-center" name="TryLogin" value="Login">Login </button><br />
            <div class="alert-danger">
                @Html.ValidationMessageFor(x => x.Email)
                @Html.ValidationMessageFor(x => x.userExists)
            </div>
        }
    </div>
    <div class="col-md-3 col-lg-4"></div>
</body>
</html>
