﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <nav class="navbar navbar-default sticky-top">
        <div class="container">
            <div class="navbar-header" style="padding: 15px;"><a href="/Home">ION Three Test Project</a></div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/Home">Home</a>
                </li>
                @if (Model != null && Model.isLoggedOut)
                {
                    <li>
                        <a href="/Customer/Enter">Register</a>
                    </li>
                    <li>
                        <a href="/Customer/Login">Login</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="/Customer/Account">My Account</a>
                    </li>
                    <li>
                        <a href="/Customer/Logout">Log Out</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div>
        <h1>You have been logged out!</h1>
    </div>
</body>
</html>
